body {
    padding: 1rem;
    margin: 0 auto;  
}

#content {
    display: flex;
    justify-content: space-between; 
}

#map {
    width: 79%;
    height: 600px;  
    position: relative;  
}

#basemaps {
    margin-bottom: 0.5rem;
    display: flex;
}

#basemaps button {
    margin: 2px;
    width: 13rem;
    background-color: rgb(4, 26, 41);
    opacity: 0.8;
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    cursor: pointer;
}

#basemaps button:hover{
    background-color: white;
    color: rgb(4, 26, 41);
    border: 1px solid rgb(4, 26, 41);    
}

#basemaps .active {
    background-color: white;
    color: rgb(4, 26, 41);
    border: 1px solid rgb(4, 26, 41);
}

#navbar {
    height: 100%;
    width: 20%;
    float: left;
}

#navbar select {
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    padding: 10px;
    background-color: rgb(4, 26, 41);
    opacity: 0.8;
    cursor: pointer;

}

#layers {
    font-size: 0.9rem;
    display: block;
    cursor: pointer;

}
#layers div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(4, 26, 41);
    opacity: 0.6;
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 10px;
}

#layers div label {
    width: 90%;
    color: white;
}

#layers div input {
    margin-top: 5px;
}

#cities {
    position: absolute;
    right: 0;
    background-color: rgb(4, 26, 41);
    opacity: 0.8;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
    margin: 1rem;
    display: none;
}

#cities div{
    margin-left: 1rem;
    margin-top: 0.5rem;    
    color: white;
}

#cities div:hover{
    cursor: pointer;
    color: aquamarine;

}

#cities .active {
    color: aquamarine;
}

#card {
    position: absolute;
    left: 11rem;
    top: 9rem;
    margin: 1rem;
    width: 270px;
    height: 25%;
    background-color: rgb(4, 26, 41);
    opacity: 0.5;
    color: white;
    padding: 1rem;
    overflow-y: scroll;
    font-size: 14px;
    border: 1px solid rgb(4, 26, 41);
    border-radius: 5px;
    display: none;
}
