.container {
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
}

#map {
    width: 80%;
    height: 700px;    
}

#navbar {
    height: 100%;
    width: 15%;
    float: left;
}

.btn-primary {
 width: 100%;
 margin-bottom: 1rem;
}